# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [2]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Hamas\\AI\\AI_Projects\\Code_Institute_Projects\\electronic_sales_project\\Electronic_Sales\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'c:\\Hamas\\AI\\AI_Projects\\Code_Institute_Projects\\electronic_sales_project\\Electronic_Sales'

# Section 1

Loading and Exploring the Dataset:

In [5]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from feature_engine.imputation import CategoricalImputer

In [6]:
df = pd.read_csv('dataset/raw/Electronic_sales.csv')

In [7]:
df #shows first and last 5 values

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000,53,Male,No,Smartphone,SKU1004,2,Cancelled,Credit Card,5538.33,791.19,7,2024-03-20,Standard,"Accessory,Accessory,Accessory",40.21
1,1000,53,Male,No,Tablet,SKU1002,3,Completed,Paypal,741.09,247.03,3,2024-04-20,Overnight,Impulse Item,26.09
2,1002,41,Male,No,Laptop,SKU1005,3,Completed,Credit Card,1855.84,463.96,4,2023-10-17,Express,NaN,0.00
3,1002,41,Male,Yes,Smartphone,SKU1004,2,Completed,Cash,3164.76,791.19,4,2024-08-09,Overnight,"Impulse Item,Impulse Item",60.16
4,1003,75,Male,Yes,Smartphone,SKU1001,5,Completed,Cash,41.50,20.75,2,2024-05-21,Express,Accessory,35.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,27,Female,No,Smartphone,SMP234,4,Completed,Bank Transfer,6838.08,1139.68,6,2024-06-15,Expedited,NaN,0.00
19996,19996,27,Female,Yes,Laptop,LTP123,4,Cancelled,Credit Card,2697.28,674.32,4,2024-07-18,Standard,NaN,0.00
19997,19996,27,Female,No,Headphones,HDP456,4,Completed,Bank Transfer,1805.90,361.18,5,2024-08-26,Standard,"Impulse Item, Extended Warranty, Accessory",198.98
19998,19997,27,Male,No,Headphones,HDP456,1,Cancelled,Bank Transfer,2528.26,361.18,7,2024-01-06,Expedited,"Extended Warranty, Accessory",101.34
19999,19998,27,NaN,Yes,Laptop,LTP123,4,Completed,Bank Transfer,674.32,674.32,1,2024-01-29,Expedited,NaN,0.00

In [8]:
df.info() # Displays a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        20000 non-null  int64
 1   Age                20000 non-null  int64
 2   Gender             19999 non-null  object
 3   Loyalty Member     20000 non-null  object
 4   Product Type       20000 non-null  object
 5   SKU                20000 non-null  object
 6   Rating             20000 non-null  int64
 7   Order Status       20000 non-null  object
 8   Payment Method     20000 non-null  object
 9   Total Price        20000 non-null  float64
 10  Unit Price         20000 non-null  float64
 11  Quantity           20000 non-null  int64
 12  Purchase Date      20000 non-null  object
 13  Shipping Type      20000 non-null  object
 14  Add-ons Purchased  15132 non-null  object
 15  Add-on Total       20000 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 2.4+ MB

In [9]:
df.shape  # (rows, columns)

(20000, 16)

In [10]:
# Display the number of unique items in 'Product Type'
unique_product_types = df['Product Type'].nunique()
print(f"Number of unique items in Product Type: {unique_product_types}")

Number of unique items in Product Type: 5

In [11]:
# List the unique items in 'Product Type'
print(df['Product Type'].unique())

['Smartphone' 'Tablet' 'Laptop' 'Smartwatch' 'Headphones']

In [12]:
# Sort the DataFrame by 'Total Price' from large to small
df_total_price_sorted = df.sort_values(by='Total Price', ascending=False)
df_total_price_sorted.head(10)

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
15523,15955,61,Male,No,Smartphone,SMP234,3,Completed,Bank Transfer,11396.8,1139.68,10,2024-04-16,Same Day,NaN,0.00
12562,13214,36,Female,No,Smartphone,SMP234,2,Completed,Credit Card,11396.8,1139.68,10,2024-09-11,Standard,Extended Warranty,30.88
12409,13074,49,Female,No,Smartphone,SMP234,2,Completed,Credit Card,11396.8,1139.68,10,2024-09-19,Same Day,NaN,0.00
12410,13075,20,Female,No,Smartphone,SMP234,2,Completed,Credit Card,11396.8,1139.68,10,2024-07-22,Same Day,Accessory,24.66
18261,18427,18,Male,No,Smartphone,SMP234,1,Completed,PayPal,11396.8,1139.68,10,2024-04-12,Same Day,"Accessory, Accessory",75.15
16006,16381,68,Male,No,Smartphone,SMP234,5,Completed,Credit Card,11396.8,1139.68,10,2024-07-05,Expedited,"Impulse Item, Accessory",62.84
15981,16356,43,Male,No,Smartphone,SMP234,1,Completed,PayPal,11396.8,1139.68,10,2024-08-10,Same Day,NaN,0.00
18301,18464,70,Male,No,Smartphone,SMP234,2,Cancelled,Credit Card,11396.8,1139.68,10,2024-06-23,Same Day,"Extended Warranty, Extended Warranty",67.81
18308,18470,71,Male,No,Smartphone,SMP234,5,Completed,PayPal,11396.8,1139.68,10,2024-02-21,Standard,"Impulse Item, Extended Warranty, Extended Warr...",162.47
15817,16206,65,Male,No,Smartphone,SMP234,5,Cancelled,Credit Card,11396.8,1139.68,10,2024-04-20,Expedited,"Impulse Item, Extended Warranty, Impulse Item",156.85

In [49]:
df[['Add-ons Purchased', 'Add-on Total']].head(50) # Checking For a link between these columns

                                   Add-ons Purchased  Add-on Total
0                      Accessory,Accessory,Accessory         40.21
1                                       Impulse Item         26.09
2                                                NaN          0.00
3                          Impulse Item,Impulse Item         60.16
4                                          Accessory         35.56
5                             Impulse Item,Accessory         65.78
6                                                NaN          0.00
7                Extended Warranty,Extended Warranty         75.33
8                                       Impulse Item         43.05
9                                                NaN          0.00
10               Impulse Item,Accessory,Impulse Item         90.38
11                       Accessory,Extended Warranty         55.48
12  Extended Warranty,Impulse Item,Extended Warranty         65.85
13                     Accessory,Accessory,Accessory         70.17
14                  Accessory,Impulse Item,Accessory         57.81
15               Extended Warranty,Extended Warranty         69.31
16                                         Accessory          8.30
17                     Accessory,Accessory,Accessory         80.00
18                                               NaN          0.00
19                    Impulse Item,Extended Warranty         70.39
20                                               NaN          0.00
21                         Impulse Item,Impulse Item         37.87
22                                         Accessory         49.17
23          Impulse Item,Accessory,Extended Warranty         37.13
24                       Accessory,Extended Warranty         49.54
25               Impulse Item,Accessory,Impulse Item         73.49
26                    Extended Warranty,Impulse Item         51.93
27                                               NaN          0.00
28               Extended Warranty,Extended Warranty         77.78
29                                               NaN          0.00
30                                               NaN          0.00
31                  Accessory,Impulse Item,Accessory         46.03
32                                               NaN          0.00
33                               Accessory,Accessory         17.79
34                                               NaN          0.00
35                               Accessory,Accessory         49.24
36                                               NaN          0.00
37                               Accessory,Accessory         33.56
38                    Extended Warranty,Impulse Item         56.62
39                                               NaN          0.00
40                                 Extended Warranty         10.00
41                                               NaN          0.00
42                       Accessory,Extended Warranty         47.94
43                       Extended Warranty,Accessory         26.01
44                                               NaN          0.00
45     Accessory,Extended Warranty,Extended Warranty         92.79
46                         Impulse Item,Impulse Item         53.02
47          Impulse Item,Accessory,Extended Warranty        111.25
48                                               NaN          0.00
49                            Accessory,Impulse Item         63.23

There is a link between the missing values and Add-on Total. Missing values here are due to a customer not adding any add-ons when buying a product. To fill these missing values I will add a new type named "None Purchased" in Section 2.

In [13]:
df[['Order Status']].head()

  Order Status
0    Cancelled
1    Completed
2    Completed
3    Completed
4    Completed

In [14]:
# Count the number of 'Cancelled' and 'Completed' orders in 'Order Status'
cancelled_count = df['Order Status'].value_counts().get('Cancelled', 0) # if Cancelled doesn't exist, return 0
completed_count = df['Order Status'].value_counts().get('Completed', 0) # if Completed doesn't exist, return 0
print(f"Cancelled orders: {cancelled_count}")
print(f"Completed orders: {completed_count}")

Cancelled orders: 6568
Completed orders: 13432

Cancelled orders should **NOT** count as sales as the business did not recieve the money. 
Every row where cancelled = true should be deleted when moving onto the data cleaning step as customers never actually purchased the product and therefore would be misleading. I will fix this in Section 2.

In [15]:
df_age_sorted = df.sort_values(by='Age', ascending=False)
df_age_sorted[['Age']] # Shows the upper and lower limit of Age (data is realistic)

       Age
10770   80
691     80
10155   80
8174    80
19758   80
...    ...
9014    18
9015    18
19563   18
5342    18
5236    18

[20000 rows x 1 columns]

---

# Section 2

Cleaning the Data

In [16]:
df.isnull().sum() # Focusing on filling or dropping missing values

Customer ID             0
Age                     0
Gender                  1
Loyalty Member          0
Product Type            0
SKU                     0
Rating                  0
Order Status            0
Payment Method          0
Total Price             0
Unit Price              0
Quantity                0
Purchase Date           0
Shipping Type           0
Add-ons Purchased    4868
Add-on Total            0
dtype: int64

In [17]:
df[['Add-ons Purchased', 'Add-on Total']].head()

               Add-ons Purchased  Add-on Total
0  Accessory,Accessory,Accessory         40.21
1                   Impulse Item         26.09
2                            NaN          0.00
3      Impulse Item,Impulse Item         60.16
4                      Accessory         35.56

In [18]:
# Filling missing values with "None Purchased"
df['Add-ons Purchased'] = df['Add-ons Purchased'].fillna('None Purchased') # Fill missing values in 'Add-ons Purchased' column with "None Purchased"
df[['Add-ons Purchased', 'Add-on Total']].head(10)

                     Add-ons Purchased  Add-on Total
0        Accessory,Accessory,Accessory         40.21
1                         Impulse Item         26.09
2                       None Purchased          0.00
3            Impulse Item,Impulse Item         60.16
4                            Accessory         35.56
5               Impulse Item,Accessory         65.78
6                       None Purchased          0.00
7  Extended Warranty,Extended Warranty         75.33
8                         Impulse Item         43.05
9                       None Purchased          0.00

In [22]:
df.isnull().sum()

Customer ID          0
Age                  0
Gender               1
Loyalty Member       0
Product Type         0
SKU                  0
Rating               0
Order Status         0
Payment Method       0
Total Price          0
Unit Price           0
Quantity             0
Purchase Date        0
Shipping Type        0
Add-ons Purchased    0
Add-on Total         0
dtype: int64

There is still 1 missing value in "Gender" so I will replace the missing value with the most common gender

In [19]:
# Create a pipeline for imputing categorical variables
pipeline = Pipeline([
    ('categorical_imputer', CategoricalImputer(
        imputation_method='frequent',   # Replaces NaN with the most frequent value in the column
        variables=['Gender']            # Column to impute
    ))
])

# Fit the pipeline on the dataset and transform it
df = pipeline.fit_transform(df)

# Verify that there are no more missing values in 'gender'
print(df['Gender'].isna().sum())  # Should return 0
print(df['Gender'].value_counts())  # See the distribution after imputation

0
Gender
Male      10165
Female     9835
Name: count, dtype: int64

In [ ]:
df.isnull().sum() #Checking for missing Values

Customer ID          0
Age                  0
Gender               0
Loyalty Member       0
Product Type         0
SKU                  0
Rating               0
Order Status         0
Payment Method       0
Total Price          0
Unit Price           0
Quantity             0
Purchase Date        0
Shipping Type        0
Add-ons Purchased    0
Add-on Total         0
dtype: int64

Now I will focus on removing all rows that that have an Order Status of "Cancelled"

In [22]:
# Remove rows where order status is "Cancelled"
df = df[df['Order Status'] != 'Cancelled']

# resets the index after dropping rows
df = df.reset_index(drop=True)

print(df['Order Status'].value_counts())

Order Status
Completed    13432
Name: count, dtype: int64

In [23]:
df.head(20) #Verifying only "Completed" orders and now showing

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000,53,Male,No,Tablet,SKU1002,3,Completed,Paypal,741.09,247.03,3,2024-04-20,Overnight,Impulse Item,26.09
1,1002,41,Male,No,Laptop,SKU1005,3,Completed,Credit Card,1855.84,463.96,4,2023-10-17,Express,None Purchased,0.00
2,1002,41,Male,Yes,Smartphone,SKU1004,2,Completed,Cash,3164.76,791.19,4,2024-08-09,Overnight,"Impulse Item,Impulse Item",60.16
3,1003,75,Male,Yes,Smartphone,SKU1001,5,Completed,Cash,41.50,20.75,2,2024-05-21,Express,Accessory,35.56
4,1004,41,Female,No,Smartphone,SKU1001,5,Completed,Credit Card,83.00,20.75,4,2024-05-26,Standard,"Impulse Item,Accessory",65.78
5,1005,25,Female,No,Smartwatch,SKU1003,3,Completed,Paypal,7603.47,844.83,9,2024-01-30,Overnight,None Purchased,0.00
6,1005,25,Female,No,Laptop,SKU1005,3,Completed,Debit Card,4175.64,463.96,9,2024-06-24,Overnight,"Extended Warranty,Extended Warranty",75.33
7,1006,24,Male,Yes,Laptop,SKU1005,3,Completed,Cash,4175.64,463.96,9,2024-01-01,Express,None Purchased,0.00
8,1006,24,Male,Yes,Tablet,SKU1002,3,Completed,Paypal,2470.30,247.03,10,2024-06-25,Overnight,"Impulse Item,Accessory,Impulse Item",90.38
9,1008,66,Female,No,Smartwatch,SKU1003,3,Completed,Cash,3379.32,844.83,4,2023-09-25,Express,"Extended Warranty,Impulse Item,Extended Warranty",65.85
10,1011,72,Male,No,Smartphone,SKU1004,2,Completed,Credit Card,7911.90,791.19,10,2024-07-07,Standard,"Accessory,Accessory,Accessory",70.17
11,1014,73,Female,Yes,Smartphone,SKU1004,2,Completed,Cash,4747.14,791.19,6,2024-05-18,Standard,Accessory,8.30
12,1015,22,Male,No,Smartphone,SKU1001,5,Completed,Paypal,83.00,20.75,4,2024-09-02,Standard,"Accessory,Accessory,Accessory",80.00
13,1016,61,Male,Yes,Smartphone,SKU1001,5,Completed,Paypal,103.75,20.75,5,2024-07-07,Overnight,None Purchased,0.00
14,1018,34,Male,No,Smartphone,SKU1001,5,Completed,Paypal,124.50,20.75,6,2024-07-23,Express,"Impulse Item,Extended Warranty",70.39
15,1019,45,Male,No,Tablet,SKU1002,3,Completed,Cash,988.12,247.03,4,2024-04-20,Express,"Impulse Item,Impulse Item",37.87
16,1021,71,Female,Yes,Smartwatch,SKU1003,3,Completed,Cash,844.83,844.83,1,2024-03-20,Overnight,"Accessory,Extended Warranty",49.54
17,1024,49,Female,No,Smartphone,SKU1004,2,Completed,Cash,1582.38,791.19,2,2024-07-10,Overnight,"Extended Warranty,Impulse Item",51.93
18,1025,77,Male,No,Laptop,SKU1005,3,Completed,Debit Card,2783.76,463.96,6,2024-01-29,Overnight,None Purchased,0.00
19,1025,77,Male,No,Smartphone,SKU1001,5,Completed,Cash,83.00,20.75,4,2024-08-28,Express,"Extended Warranty,Extended Warranty",77.78

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [53]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)

IndentationError: expected an indented block after 'try' statement on line 2 (3884126857.py, line 5)