# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'c:\\Hamas\\AI\\AI_Projects\\Code_Institute_Projects\\electronic_sales_project\\Electronic_Sales\\jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'c:\\Hamas\\AI\\AI_Projects\\Code_Institute_Projects\\electronic_sales_project\\Electronic_Sales'

# Section 1

Loading and Viewing the Dataset:

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('dataset/raw/electronic_sales.csv')

In [8]:
df

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000,53,Male,No,Smartphone,SKU1004,2,Cancelled,Credit Card,5538.33,791.19,7,2024-03-20,Standard,"Accessory,Accessory,Accessory",40.21
1,1000,53,Male,No,Tablet,SKU1002,3,Completed,Paypal,741.09,247.03,3,2024-04-20,Overnight,Impulse Item,26.09
2,1002,41,Male,No,Laptop,SKU1005,3,Completed,Credit Card,1855.84,463.96,4,2023-10-17,Express,NaN,0.00
3,1002,41,Male,Yes,Smartphone,SKU1004,2,Completed,Cash,3164.76,791.19,4,2024-08-09,Overnight,"Impulse Item,Impulse Item",60.16
4,1003,75,Male,Yes,Smartphone,SKU1001,5,Completed,Cash,41.50,20.75,2,2024-05-21,Express,Accessory,35.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,27,Female,No,Smartphone,SMP234,4,Completed,Bank Transfer,6838.08,1139.68,6,2024-06-15,Expedited,NaN,0.00
19996,19996,27,Female,Yes,Laptop,LTP123,4,Cancelled,Credit Card,2697.28,674.32,4,2024-07-18,Standard,NaN,0.00
19997,19996,27,Female,No,Headphones,HDP456,4,Completed,Bank Transfer,1805.90,361.18,5,2024-08-26,Standard,"Impulse Item, Extended Warranty, Accessory",198.98
19998,19997,27,Male,No,Headphones,HDP456,1,Cancelled,Bank Transfer,2528.26,361.18,7,2024-01-06,Expedited,"Extended Warranty, Accessory",101.34
19999,19998,27,NaN,Yes,Laptop,LTP123,4,Completed,Bank Transfer,674.32,674.32,1,2024-01-29,Expedited,NaN,0.00

In [9]:
df.info

<bound method DataFrame.info of        Customer ID  Age  Gender Loyalty Member Product Type      SKU  Rating  \
0             1000   53    Male             No   Smartphone  SKU1004       2
1             1000   53    Male             No       Tablet  SKU1002       3
2             1002   41    Male             No       Laptop  SKU1005       3
3             1002   41    Male            Yes   Smartphone  SKU1004       2
4             1003   75    Male            Yes   Smartphone  SKU1001       5
...            ...  ...     ...            ...          ...      ...     ...
19995        19996   27  Female             No   Smartphone   SMP234       4
19996        19996   27  Female            Yes       Laptop   LTP123       4
19997        19996   27  Female             No   Headphones   HDP456       4
19998        19997   27    Male             No   Headphones   HDP456       1
19999        19998   27     NaN            Yes       Laptop   LTP123       4

      Order Status Payment Method  Total Price  Unit Price  Quantity  \
0        Cancelled    Credit Card      5538.33      791.19         7
1        Completed         Paypal       741.09      247.03         3
2        Completed    Credit Card      1855.84      463.96         4
3        Completed           Cash      3164.76      791.19         4
4        Completed           Cash        41.50       20.75         2
...            ...            ...          ...         ...       ...
19995    Completed  Bank Transfer      6838.08     1139.68         6
19996    Cancelled    Credit Card      2697.28      674.32         4
19997    Completed  Bank Transfer      1805.90      361.18         5
19998    Cancelled  Bank Transfer      2528.26      361.18         7
19999    Completed  Bank Transfer       674.32      674.32         1

      Purchase Date Shipping Type                           Add-ons Purchased  \
0        2024-03-20      Standard               Accessory,Accessory,Accessory
1        2024-04-20     Overnight                                Impulse Item
2        2023-10-17       Express                                         NaN
3        2024-08-09     Overnight                   Impulse Item,Impulse Item
4        2024-05-21       Express                                   Accessory
...             ...           ...                                         ...
19995    2024-06-15     Expedited                                         NaN
19996    2024-07-18      Standard                                         NaN
19997    2024-08-26      Standard  Impulse Item, Extended Warranty, Accessory
19998    2024-01-06     Expedited                Extended Warranty, Accessory
19999    2024-01-29     Expedited                                         NaN

       Add-on Total
0             40.21
1             26.09
2              0.00
3             60.16
4             35.56
...             ...
19995          0.00
19996          0.00
19997        198.98
19998        101.34
19999          0.00

[20000 rows x 16 columns]>

In [10]:
df.isnull().sum()

Customer ID             0
Age                     0
Gender                  1
Loyalty Member          0
Product Type            0
SKU                     0
Rating                  0
Order Status            0
Payment Method          0
Total Price             0
Unit Price              0
Quantity                0
Purchase Date           0
Shipping Type           0
Add-ons Purchased    4868
Add-on Total            0
dtype: int64

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)